@model HistoricViewModel
@{
    ViewData["Title"] = "Dashboards";
}

<h2>@ViewData["Title"]</h2>
<br />
<form id="dataForm" class="needs-validation" novalidate>
    <div class="row g-3">
        <div class="col-md-12 flex d-flex gap-3">
            <div>
                <label for="Offset" class="form-label">Maquina</label>
                <input asp-for="Machine" class="form-control" id="id">
            </div>
            <div>
                <label for="Offset" class="form-label">Offset</label>
                <input asp-for="Offset" type="text" class="form-control" id="offset" required>
            </div>
        </div>
        <div>
            <button type="submit" id="loadChartButton" class="rounded-pill btn btn-lg btn-outline-info mr-3">Gráfico Histórico</button>

        </div>
    </div>
</form>
<br />
<div class="d-flex gap-3">
    <button id="loadLiveChartButton" class="rounded-pill btn btn-lg btn-outline-info mr-3">Gráfico Ao Vivo</button>
</div>
<br />

<div id="chartContainer">
    <!-- Partial view do gráfico histórico será carregada aqui -->
</div>

<div id="liveChartContainer">
    <!-- Partial view do gráfico ao vivo será carregada aqui -->
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataForm').on('submit', function (event) {
                event.preventDefault(); // Evita o envio padrão do formulário

                // Captura os dados do formulário
                var formData = $(this).serialize();

                console.log("chamou ajax para gráfico histórico com dados:", formData);

                $.ajax({
                    url: '@Url.Action("GetTemperatura1000", "Dashboard")',
                    type: 'GET',
                    data: formData,
                    success: function (data) {
                        $('#chartContainer').html(data);
                        console.log("Partial view do gráfico histórico carregada"); // Log para depuração
                    },
                    error: function (xhr, status, error) {
                        console.error("Ocorreu um erro ao carregar o gráfico histórico:", error);
                        $('#chartContainer').html("<p>Ocorreu um erro ao carregar o gráfico histórico.</p>");
                    }
                });
            });

            $('#loadLiveChartButton').click(function () {
                console.log("chamou ajax para gráfico ao vivo");
                $.ajax({
                    url: '@Url.Action("GetGraficoAoVivo", "Dashboard")',
                    type: 'GET',
                    success: function (data) {
                        $('#liveChartContainer').html(data);
                        console.log("Partial view do gráfico ao vivo carregada"); // Log para depuração
                    },
                    error: function (xhr, status, error) {
                        console.error("Ocorreu um erro ao carregar o gráfico ao vivo:", error);
                        $('#liveChartContainer').html("<p>Ocorreu um erro ao carregar o gráfico ao vivo.</p>");
                    }
                });
            });
        });
    </script>
}
