@{
    ViewData["Title"] = "Chart Example";
}

<h2>@ViewData["Title"]</h2>

<button id="loadChartButton">Load Chart</button>
<div id="chartContainer">
    <!-- Partial view será carregada aqui -->
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function () {
            $('#loadChartButton').click(function () {
                $.ajax({
                    url: '@Url.Action("GetTemperatura1000", "Dashboard")',
                    type: 'GET',
                    success: function (data) {
                        $('#chartContainer').html(data);
                        console.log("Partial view carregada"); // Log para depuração
                    },
                    error: function (xhr, status, error) {
                        console.error("Ocorreu um erro ao carregar o gráfico:", error);
                    }
                });
            });
        });
    </script>
}
