@using DryFi_ProjectBasedLearning_MVC.Enums
@model ClienteViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container content-fluid mt-5 row-gap-5">
    <div class="row mt-5 gx-3">
        <div class="col-md-6">
            @if (@ViewBag.Operacao == "I"){
                <h1 class="display-2 fw-semibold mb-5">New <span class="text-info">Warded</span></h1>
            }
            else{
                <h1 class="display-2 fw-semibold mb-5">Update <span class="text-info">Warded</span></h1>
            }
            <div class="d-flex align-content-center flex-wrap">
                <form asp-action="save" class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input value="@ViewBag.Operacao" type="hidden" name="Operacao">
                            <input asp-for="Id" class="form-control" id="id" hidden>
                            <label for="Nome" class="form-label">Name</label>
                            <input asp-for="NomeCliente" type="text" class="form-control" id="nomeCliente" required>
                            <div class="valid-feedback">
                                Parece bom!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Cnpj" class="form-label">CNPJ</label>
                            <input asp-for="Cnpj" type="text" class="form-control" id="Cnpj" required>
                            <div class="valid-feedback">
                                Parece bom!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Email" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="spanEmail">&#x00040;</span>
                                <input asp-for="Email" type="text" class="form-control" id="Email" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Por favor, informe o e-mail para contato.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Telefone" class="form-label">Phone Number</label>
                            <input asp-for="Telefone" type="text" class="form-control" id="Telefone" required>
                            <div class="invalid-feedback">
                                Por favor, informe um número de telefone válido.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="tipo" class="form-label">Type of Client</label>
                            <select asp-for="TipoClienteId" asp-items="Html.GetEnumSelectList<TipoClienteEnum>()" class="form-select" id="tipo" required>
                                <option selected disabled value="">Choose...</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid position.
                            </div>
                        </div>

                        <div class="col-md-7 mb-3">
                            <button type="submit" value="Salvar dados" class="rounded-pill btn btn-lg btn-info mr-3">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 pt-3 d-flex justify-content-center align-items-center">
            <img src="~/lib/img/registerImage.svg" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</div>
