@using DryFi_ProjectBasedLearning_MVC.Enums
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h2 class="text-white">Wardeds</h2>
    <br />
    <a type="button" class="btn btn-info" href="/Cliente/ClienteRegistro">New Warded</a>
    <br />
</div>
<br />
<fieldset id="areaFiltro" class="form-group">
    <legend>Search our Wardeds</legend>
    <div class="row">
        <div class="col-lg-2">
            Name<br />
            <input type="text" id="nomeCliente" class="form-control" />
        </div>
        <div class="col-lg-2">
            CNPJ <br />
            <input type="text" id="cnpj" class="form-control" />
        </div>
        <div class="col-lg-2">
            Type of Client <br />
            <select asp-items="Html.GetEnumSelectList<TipoClienteEnum>()" class="form-select" id="tipo" required>
                <option selected disabled value="">Choose...</option>
            </select>
        </div>
        <div class="col-lg-2">
            <br />
            <div class="btn-group" role="group" aria-label="Button group">
                <input type="button" id="btnFiltro" class="btn btn-success text-center" value="Apply" style="width: 100%; border-radius: 8%; margin-right: 10%;" 
                onclick="aplicaFiltroConsultaAvancadaCliente()" />
                <input type="button" id="btnClear" class="btn btn-danger text-center" value="Clear" style="width: 100%; border-radius: 8%;" 
                onclick="limparFiltros()" />
            </div>
        </div>

    </div>
</fieldset>
<div id="resultadoConsulta" class="table-responsive">
</div>

<script>
    function apagarCliente(id) {
        if (confirm('Confirm deletion of the record?'))
            location.href = 'delete?id=' + id;
    }

    function limparFiltros() {
        document.getElementById('nomeCliente').value = '';
        document.getElementById('cnpj').value = '';
        document.getElementById('tipo').value = '';
    }
</script>