@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container content-fluid mt-5 row-gap-5">
    <div class="row mt-5 gx-3">
        <div class="col-md-6 mt-5">
            <div class="d-flex gap-5 align-content-center flex-wrap">
                <div class="row mt-5 b-3">
                    <h1 class="display-2 fw-semibold">About <span class="text-info">Us</span>,</h1>

                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>


                        <div class="carousel-inner">
                            <div class="carousel-item active" style="margin-bottom: 45px">
                                <h2 class="display-5" style="color: black;">group members:</h2>
                                <img src="~/lib/img/Engineering_team_a7n2.png" class="d-block w-100" alt="...">
                                <br><br><br><br>
                                <div class="carousel-caption d-none d-md-block">
                                    <h6 class="display-8" style="color: white; margin-top: 110px;"> Aparecida Joana Moreto RA: 082210001</h6>
                                    <h6 class="display-8" style="color: white; margin-top: 0px;"> Eduardo Accacio Spedine Toledo RA:081220018 </h6>
                                    <h6 class="display-8" style="color: white; margin-top: 0px;"> Guilherme Rodrigues Dos Santos RA:081220010 </h6>
                                    <h6 class="display-8" style="color: white; margin-top: 0px;"> Kauê de Souza Silva RA:081220003 </h6>
                                    <h6 class="display-8" style="color: white; margin-bottom: -39px;"> Marcos Felipe Correa Soares RA:081220020 </h6>
                                </div>
                            </div>
                            <div class="carousel-item" style="margin-bottom: 7px">
                                <br>
                                <img src="~/lib/img/education_f8ru.png" class="d-block w-100" alt="...">
                                <br><br><br>
                                <div class="carousel-caption d-none d-md-block" style="margin-top:10px;">
                                    <h3 class="display-8" style="color: white;">PBL developed by FESA 5th period students -<span class="text-info"> FESA</span></h3>
                                </div>
                            </div>
                            <div class="carousel-item" style="margin-bottom: 5px">
                                <br>
                                <img src="~/lib/img/Programming_re_kg9v.png" class="d-block w-100" alt="...">
                                <br><br><br>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="display-8" style="color: white; margin-top:50px"> Course: </h5>
                                    <h4 class="display-8" style="color: black; margin-bottom:10px;"> <span class="text-info">Computer Engineering</span></h4>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <div class="d-flex gap-3">
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5 pt-3">
            <img src="~/lib/img/logo_fesa.png" class="carousel-logo; w-10 h-10 10" alt="...">
            <img src="~/lib/img/grupinho.png" style="max-width: 100%; height: auto;" />

        </div>



    </div>
</div>