
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container content-fluid mt-5 row-gap-5">
    <div class="row mt-5 gx-3">
        <div class="col-md-6 mt-5">
            <div class="d-flex gap-5 align-content-center flex-wrap">
                <div class="row mt-5 b-3">
                    <h1 class="display-2 fw-semibold">About <span class="text-info">Us</span>,</h1>
                    <h2 class="display-5 fw-lighter">group members.</h2>
                </div>
                <div class="d-flex gap-3">
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5 pt-3">
            <img src="~/lib/img/grupinho.png" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</div>
