@model List<FuncionarioViewModel>

<br>
<div class="text-center gap-3">

    <table id="funcTable" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Picture</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr class="align-middle">
                    <td style="width: 15%;">
                        <div class="btn-group-vertical" style="width: 100%;">
                            <a href="/Funcionario/Edit?id=@Model[i].Id" class="btn btn-primary mb-2" style="width: 100%;">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <button type="button" onclick="apagarFunc(@Model[i].Id)" class="btn btn-danger" style="width: 100%;">
                                <i class="fas fa-trash" aria-hidden="true"></i> Delete
                            </button>
                        </div>
                    </td>
                    <td class="col-md-2"> <img src="data:image/jpeg;base64,@Model[i].ImagemEmBase64" alt="Imagem do Funcionário" style="max-width: 100px; max-height: 100px;"></td>
                    <td class="col-md-2">@Model[i].Nome</td>
                    <td class="col-md-2">@Model[i].DescricaoCategoria</td>
                    <td class="col-md-2">@Model[i].Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>
